:root{
  --c-theme: #60204B;
  --c-red: #ED3833;
  --c-white: #FFFFFF;
  --c-orange: #FF8B61;
  --c-pink: #BE41E8;
  --c-purple: #6A3BD1;
  --c-text-2: #3E3E3E;
  --c-text-1: #000000;
  --c-grey-fill: #3e3e3e4d;
  
}